@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin input {
	background-color: #fff;
	border: 0;
	color: #000;
	font-size: $form_size;
	font-weight: 300;
	padding: 13px;
	width: 100%;
}
@mixin button {
	background-color: $blue;
	border: 0;
	color: #fff;
	font-size: $form_size;
	font-weight: 300;
	padding: 13px;
	width: 100%;
}
@mixin black_text {
	color: #fff;
	font-family: $montserrat;
	font-size: $text-size;
	font-weight: 900;
}

input { @include input; }
input { @include border-radius(10px); }
.apply_btn { @include button; }
.apply_btn { @include border-radius(10px); }
.error_message, .footer_text { @include black_text; }