$dark_green: #388659;
$dark_green_rgb: rgba(58, 137, 90, 0.77);
$green: #52aa5e;
$green_blue: #52aa8a;
$dark_blue: #3aaed8;
$blue: #2db9fe;

$montserrat: 'Montserrat', sans-serif;
$text_size: 18px;
$title_size: 72px;
$form_size: 22px;
